@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
}

.list {
	margin: 0 auto;
	max-width: 400px;
	background: #e8e8e8;
	border: solid 4px #3784a9;
	padding: 0px 10px;
}

.card-item {
	background: white;
	padding: 0px;
	display: flex;
	align-items: center;
	margin: 10px;
	border-radius: 5px;
	height: 40px;
}

.card-item p {
	margin-left: 10px;
}

.title-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 10px;
}

.add-card {
	margin-left: 10px;
	color: grey;
}
